

.TodoCategoryList li{

    cursor: pointer;

}

.CategoryItem:hover{

    background: #0000ff1f;
    

}

.CategoryItem{
    text-align: center;
    border: black ;
    border-radius: 5px;
}

.isActualCategory{
    background: rgb(156, 113, 197);
    
    font-weight: bolder;
}

